<header class="flex flex-row flex-nowrap border-b-2 sm:border-b-4 border-gray-800 w-full">
    <div class="grow self-end pb-5">
        <h1 class="text-3xl sm:text-5xl tracking-tight">Rafiki Handyman, LLC</h1>
        <ul class="text-md sm:text-lg font-bold">
            <li class="sm:inline-block"><a href="tel:+19192254533">919.225.4533</a></li>
            <li class="sm:inline-block sm:ml-4"><a href="mailto:rafikihandyman@gmail.com">rafikihandyman@gmail.com</a></li>
        </ul>
    </div>
    <div class="header-image shrink-0">
        <img class="w-24 md:w-32" src="{{ vite:asset src="resources/images/babuu-color.png" }}" alt="Babuu">
    </div>
</header>

<article class="mt-5 max-w-xl mb-5 md:text-lg">
    {{ content | widont }}
</article>

<div class="container mt-5 mb-5">
    <a class="btn bg-gray-800 hover:bg-gray-600 w-full md:w-auto text-white" href="mailto:rafikihandyman@gmail.com">Send Babuu an Email</a>
</div>

<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {{ work }}
                {{ if first || count % 7 == 0 }}
                    <li class="glide__slide">
                        <div class="container grid grid-cols-2 sm:grid-cols-3 gap-1 sm:gap-2 mx-auto">
                {{ /if }}
                    <div>
                        <a href="{{ url }}" class="glightbox">
                            <img src="{{ glide:url preset="thumbnail" }}" class="p-1 aspect-[4/3] sm:aspect-[3/4] object-cover" alt="{{ alt }}">
                        </a>
                    </div>
                {{ if last || (count+1) % 7 == 0 }}
                        </div>
                    </li>
                {{ /if }}

            {{ /work }}
        </ul>
    </div>
</div>

{{#
<div class="container grid grid-cols-2 sm:grid-cols-3 gap-2 mx-auto">
    {{ work }}
        <div>
            <a href="{{ url }}" class="glightbox">
                <img src="{{ glide:url preset="thumbnail" }}" class="p-1 aspect-[4/3] sm:aspect-[3/4] object-cover" alt="{{ alt }}">
            </a>
        </div>
    {{ /work }}
</div>
#}}
