<header class="flex flex-row flex-nowrap border-b-2 sm:border-b-4 border-gray-800 w-full">
    <div class="grow self-end pb-5">
        <h1 class="text-3xl sm:text-5xl tracking-tight">Rafiki Handyman, LLC</h1>
        <ul class="text-md sm:text-lg font-bold">
            <li class="sm:inline-block"><a href="tel:+19192254533">919.225.4533</a></li>
            <li class="sm:inline-block sm:ml-4"><a href="mailto:rafikihandyman@gmail.com">rafikihandyman@gmail.com</a></li>
        </ul>
    </div>
    <div class="header-image shrink-0">
        <img class="w-24 md:w-32" src="{{ vite:asset src="resources/images/babuu-white.png" }}" alt="Babuu">
    </div>
</header>

<div class="flex flex-row flex-wrap gap-5 mt-5 mb-5">
    <div class="flex-1">
        <article class="user-content min-w-[300px] md:text-lg md:pr-12">
            {{ content | widont }}
        </article>
    </div>
    <div class="flex-1/2">
        <ul class="columns-2 gap-6 text-md sm:text-lg font-bold whitespace-nowrap">
            {{ services }}
            <li>{{ value }}</li>
            {{ /services }}
        </ul>
    </div>
</div>

<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {{ work }}
                {{ slidecount = count - 1 }}
                {{ if first || slidecount % 15 == 0 }}
                    <li class="glide__slide">
                        <div class="container grid grid-cols-3 sm:grid-cols-5 gap-2 sm:gap-5">
                {{ /if }}
                    <div>
                        <a href="{{ url }}" class="glightbox">
                            <img src="{{ glide:url preset="thumbnail" }}" class="aspect-[4/3] object-cover" alt="{{ alt }}">
                        </a>
                    </div>
                {{ if last || (slidecount+1) % 15 == 0 }}
                        </div>
                    </li>
                {{ /if }}
            {{ /work }}
        </ul>
    </div>

    <div class="flex justify-between mt-2 sm:mt-5">
        <div data-glide-el="controls">
          <button class="btn" data-glide-dir="<">&larr;</button>
          </div>
        <div data-glide-el="controls">
      <button class="btn" data-glide-dir=">">&rarr;</button>
      </div>
    </div>
</div>

{{#
<div class="container grid grid-cols-2 sm:grid-cols-3 gap-2 mx-auto">
    {{ work }}
        <div>
            <a href="{{ url }}" class="glightbox">
                <img src="{{ glide:url preset="thumbnail" }}" class="p-1 aspect-[4/3] sm:aspect-[3/4] object-cover" alt="{{ alt }}">
            </a>
        </div>
    {{ /work }}
</div>
#}}
