<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="font-sans leading-normal text-gray-800">
        <div class="pt-5 pl-10 pr-5 sm:pl-20 max-w-6xl mx-auto">
            {{ template_content }}

            <footer class="mt-10 border-t-4 border-gray-800 pt-5 pb-10">
                <h3 class="h1 text-2xl sm:text-4xl tracking-tight">Rafiki Handyman, LLC</h3>
                <ul class="text-md sm:text-lg font-bold">
                    <li class="sm:inline-block"><a href="tel:+19192254533">919.225.4533</a></li>
                    <li class="sm:inline-block sm:ml-4"><a href="mailto:rafikihandyman@gmail.com">rafikihandyman@gmail.com</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>
