@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'Ranille';
    src: url('/resources/fonts/RanilleNormal-Regular.woff2') format('woff2'),
        url('/resources/fonts/RanilleNormal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background: #E9C7A8 url('/resources/images/border.png') 0 0 repeat-y;
    background-size: 20px 190px;
    @media (min-width: 640px) {
        background-size: 39px 380px;
    }
}

h1,.h1 {
    font-family: 'Ranille', Georgia, serif;
}

.babuu {
    background-image: url('/resources/images/babuu.png') url('/resources/images/babuu-color.png') url('/resources/images/babuu-white.png');
}

.btn {
    @apply font-bold py-2 px-10 rounded inline-block text-center bg-gray-800 hover:bg-gray-600 text-white;
}

p+p {
    margin-top: 1.5em;
}

form input[type=text],
form textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

.user-content a {
    text-decoration: underline;
}
.user-content ul {
    @apply list-disc pl-4 mt-5 mb-5;
}
